#highlight {
  position: absolute;
}

.highlight-error, .highlight-danger {
  border: 2px solid red;
}

.highlight-warning {
  border: 3px solid yellow;
}

.highlight-info {
  border: 3px solid lightblue;
}

.message {
  background-color: white;
  padding: 2rem;
}

code {
  white-space: pre-wrap;
  display: block;
}

.pointer {
  background-image: asset_data_url("arrow.svg")
}
